
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <i class="fa sign"></i><strong><%= locals.type%></strong>
    <span><%= locals.message%></span>
</div>