
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Course Management System</title>

    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="CMS" />
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--// Meta tag Keywords -->

    <!-- css files -->
    <link rel="stylesheet" href="/css/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
    <link rel="stylesheet" href="/css/fontawesome-all.css"> <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->

    <!--web font-->
    <link href="//fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
    <!--//web font-->

</head>

<body>


<!-- header -->
<header>
    <div class="container">
        <!-- top header -->
        <section class="row top_header pt-3">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6 buttons">
                
                <a href="/users/login"><button type="button" class="btn btn-info btn-lg-block w3ls-btn px-4 text-capitalize mr-2" data-toggle="modal"
                                               aria-pressed="false" data-target="">Login</button></a>

                <a href="/users/register/"><button type="button" class="btn btn-info btn-lg-block w3ls-btn px-4 text-capitalize mr-2" data-toggle="modal"
                                                   aria-pressed="false" data-target="">Register</button></a>
            </div>
        </section>
        <!-- top header -->

        <!-- nav -->
        <nav class="navbar navbar-expand-lg navbar-light py-sm-4 py-2">
            <!-- logo -->
            <h1>
                <a class="navbar-brand" href="/"> <i class="fab fa-affiliatetheme"></i>
                    Course Management System
                </a>
            </h1>
            <!-- //logo -->
            <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- main nav -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-lg-auto text-center">
                    <li class="nav-item mr-lg-3">
                        <a class="nav-link" href="/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                 
                 
              
                    <li>
                        <!-- search --->
                        <div class="search-bar-agileits">
                            <div class="cd-main-header">
                                <ul class="cd-header-buttons">
                                    <li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
                                </ul>
                                <!-- cd-header-buttons -->
                            </div>
                            <div id="cd-search" class="cd-search">
                                <form action="/search" method="post">
                                    <input name="search" type="search" placeholder="search for courses...">
                                </form>
                            </div>
                        </div>
                        <!-- search --->

                    </li>
                </ul>
            </div>
            <!-- //main nav -->
        </nav>
        <!-- //nav -->
    </div>
</header>
<!-- //header -->

<!-- inner banner -->
<div class="inner_banner layer" id="home">
    <div class="container">
        <div class="agileinfo-inner">
            <h2 class="text-center text-white">
                Registration Page
            </h2>
        </div>
    </div>
</div>
<!-- //inner banner -->
<!-- breadcrumbs -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Register</li>
    </ol>
</nav>
<!-- //breadcrumbs -->


<% if (messages) { %>
<% for(var i=0;i<messages.length;i++){%>
<%if(messages[i]){%>
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <i class="fa sign"></i><strong></strong>
        <span><%= messages[i]%></span>
    </div>
    <%}%>
<%}%>
<% } %>



<!-- courses -->
<section class="courses py-5">

            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase" id="exampleModalLabel1">Register</h5>
                    </div>
                    <div class="modal-body">
                    <form action="/users/register/" method="post" class="p-3">

                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Email id</label>
                            <input type="email" class="form-control" placeholder="Email id" name="email" id="recipient-name4" required="">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name1" class="col-form-label">Password</label>
                            <input type="password" class="form-control" placeholder="Password" name="psw" id="recipient-name6" required="">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name1" class="col-form-label">Repeat Password</label>
                            <input type="password" class="form-control" placeholder="Password" name="psw_repeat" id="recipient-name6" required="">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name1" class="col-form-label">I am </label>
                            <select class="form-control" name="role">
                                <option value="Student">Student</option>
                                <option value="Instructor">Instructor</option>
                            </select>
                        </div>
                        <div class="right-w3l mt-4 mb-3">
                            <input type="submit" class="form-control" value="Create account">
                        </div>
                    </form>

                </div>
                </div>
            </div>
</section>

    <!-- //Register modal -->
</section>
<!-- courses -->

<!-- Login modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-uppercase" id="exampleModalLabel1">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" method="post" class="p-3">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">User Name</label>
                        <input type="email" class="form-control" placeholder="User Name" name="Name" id="recipient-name" required="">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name1" class="col-form-label">Password</label>
                        <input type="password" class="form-control" placeholder="Password" name="Name" id="recipient-name1" required="">
                    </div>
                    <div class="right-w3l mt-4 mb-3">
                        <input type="submit" class="form-control" value="Login">
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- //Login modal -->




<!-- js -->
<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
<!-- //js -->

<!-- search-bar -->
<script src="/js/main.js"></script>
<!-- //search-bar -->

<!-- Countdown-Timer-JavaScript -->
<script src="/js/simplyCountdown.js"></script>
<!-- easy to customize -->
<script>
    $('#simply-countdown-losange').simplyCountdown({
        year: 2020,
        month: 1,
        day: 06
    });
</script>
<!-- //Countdown-Timer-JavaScript -->

<!-- start-smoth-scrolling -->
<script src="/js/SmoothScroll.min.js"></script>
<script type="text/javascript" src="/js/move-top.js"></script>
<script type="text/javascript" src="/js/easing.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
            event.preventDefault();
            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });
</script>
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function() {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<!-- //here ends scrolling icon -->
<!-- start-smoth-scrolling -->

</body>
</html>