
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Course Management system</title>

    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Course Management System" />
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--// Meta tag Keywords -->

    <!-- css files -->
    <link rel="stylesheet" href="/css/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
    <link rel="stylesheet" href="/css/fontawesome-all.css"> <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->

    <!--web font-->
    <link href="//fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
    <!--//web font-->

</head>

<body>


<!-- header -->
<header>
    <div class="container">

        <!-- nav -->
        <nav class="navbar navbar-expand-lg navbar-light py-sm-4 py-2">
            <!-- logo -->
            <h1>
                <a class="navbar-brand" href="/student/"> <i class="fab fa-affiliatetheme"></i>
                    Course Management System
                </a>
            </h1>
            <!-- //logo -->
            <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- main nav -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-lg-auto text-center">
                    <li class="nav-item mr-lg-3">
                        <a class="nav-link" href="/student/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item mr-lg-3">
                        <a class="nav-link" href="/student/courses">My Courses</a>
                    </li>
                    <li class="dropdown nav-item active mr-lg-3">
                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle ">
                            Account
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="nav-item">
                                <a href="/student/profile/" class="nav-link">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a href="/users/logout" class="nav-link">Logout</a>
                            </li>
                        </ul>
                    <li>
                        <!-- search --->
                        <div class="search-bar-agileits">
                            <div class="cd-main-header">
                                <ul class="cd-header-buttons">
                                    <li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
                                </ul>
                                <!-- cd-header-buttons -->
                            </div>
                            <div id="cd-search" class="cd-search">
                                <form action="/student/search" method="post">
                                    <input name="search" type="search" placeholder="search for any course...">
                                </form>
                            </div>
                        </div>
                        <!-- search --->

                    </li>
                </ul>
            </div>
            <!-- //main nav -->
        </nav>
        <!-- //nav -->
    </div>
</header>
<!-- //header -->

<!-- inner banner -->
<div class="inner_banner layer" id="home">
    <div class="container">
        <div class="agileinfo-inner">
            <h2 class="text-center text-white">
                Welcome <%= student.First_Name%> <%= student.Last_Name%>
            </h2>
        </div>
    </div>
</div>
<!-- //inner banner -->
<!-- breadcrumbs -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/student/">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page"></li>
    </ol>
</nav>
<!-- //breadcrumbs -->

<!-- courses -->
<section class="courses py-5">
    <div class="container py-sm-3">



        <div class="row course-grids">

                    <div class="col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"></h5>

                                <h6 class="card-title"> MY COURSES</h6>

                                <a href="/student/courses" class="btn btn-primary"><i class="fas fa-graduation-cap"></i> OPEN</a>
                            </div>
                        </div>
                    </div>


            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"></h5>

                        <h6 class="card-title"> JOIN COURSES</h6>

                        <a href="/student/course/join" class="btn btn-primary"><i class="fas fa-graduation-cap"></i> OPEN</a>
                    </div>
                </div>
            </div>




            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"></h5>

                        <h6 class="card-title"> PROFILE</h6>

                        <a href="/student/profile" class="btn btn-primary"><i class="fas fa-graduation-cap"></i> OPEN</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- courses -->

<!-- js -->
<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
<!-- //js -->

<!-- search-bar -->
<script src="/js/main.js"></script>
<!-- //search-bar -->

<!-- Countdown-Timer-JavaScript -->
<script src="/js/simplyCountdown.js"></script>
<!-- easy to customize -->
<script>
    $('#simply-countdown-losange').simplyCountdown({
        year: 2020,
        month: 1,
        day: 06
    });
</script>
<!-- //Countdown-Timer-JavaScript -->

<!-- start-smoth-scrolling -->
<script src="/js/SmoothScroll.min.js"></script>
<script type="text/javascript" src="/js/move-top.js"></script>
<script type="text/javascript" src="/js/easing.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
            event.preventDefault();
            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });
</script>
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function() {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<!-- //here ends scrolling icon -->
<!-- start-smoth-scrolling -->

</body>
</html>